[submodule "skyline-playbook"]
	path = skyline-playbook
	url = git@github.com:goncalopereira/skyline-playbook.git
[submodule "statsd-graphite-playbook"]
	path = statsd-graphite-playbook
	url = git@github.com:goncalopereira/statsd-graphite-playbook.git
[submodule "roles/ansible-playbook-sensu"]
	path = roles/ansible-playbook-sensu
	url = https://github.com/Mayeu/ansible-playbook-sensu.git
